@font-face {
  font-family: 'RubikLight';
  src: url('/Users/hopegipson/Flatiron/code/PROJECTS/Music_Player_Application/frontend/src/assets/fonts/Rubik-Light.ttf');
  
  }

  @font-face {
    font-family: 'RubikRegular';
    src: url('/Users/hopegipson/Flatiron/code/PROJECTS/Music_Player_Application/frontend/src/assets/fonts/Rubik-Regular.ttf');
    }


body {
  margin: 0;
  font-family: 'RubikLight';
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adafae;
  text-align: left;
  background-color: #121212;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  width: 200px;
  position: fixed;
  height: 100vh;
  color: #adafae;
  background-color: #000000;
  
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 50px;
  padding: 20px;
}

.sideBarIcon{
  height: 30px;
  width: 30px;
  padding: 20px;
}

.sidebarOption {
  font-family: "RubikRegular";
  text-decoration: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;

  height: 40px;
  color: grey;
  transition: 200ms color ease-in;

}

.sidebarOption:hover {
  color: white;
  background-color: #2b2424;
}

.NavLink:active {
  background-color: #552727;

}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}



.SongResult {
  position: absolute;
  top: 100px; 
  left: 750px;
  width: 850px;
  height: 310px;
  background-color: #121212;
}

.InsideSongResult{
  position: absolute;
  background-color:  #0e0c0c;
  width: 850px;
  height: 240px;
  top: 70px; 
  left: 15px;

}

.TopResult {
  position: absolute;
  top: 100px; 
  left: 300px;
  width: 400px;
  height: 300px;
  background-color: #121212;
}

.InsideTopResult{
  position: absolute;
  background-color:  #0e0c0c;
  width: 450px;
  height: 240px;
  top: 70px; 
  left: 15px;

}

.ArtistResult {
  position: absolute;
  top: 420px; 
  left: 300px;
  width: 1300px;
  height: 300px;
  background-color: #121212;
}

.InsideArtistResult{
 
  position: absolute;
  background-color:  #0e0c0c;
  width: 1300px;
  height: 300px;
  top: 70px; 
  left: 15px;

}

.AlbumResult {
  position: absolute;
  top: 800px; 
  left: 300px;
  width: 1300px;
  height: 500px;
  background-color: #121212;
}

.InsideAlbumResult{
  position: absolute;
  background-color:  #0e0c0c;
  width: 1300px;
  height: 300px;
  top: 70px; 
  left: 15px;

}

.TitleSection{
  font-family: 'RubikRegular';
  position: absolute;
  margin-left: 20px;
  color: white;

}

.TopArtistImage{
  position: absolute;
  top: 20px; 
  left: 25px;
    height: 100px;
  width: 100px;
  border-radius: 50%;
}

.TopArtistName{
  position: absolute;
  top: 110px;
  left: 30px;
  color: white;
}

.TopArtistTag{
  position: absolute;
  top: 160px;
  left: 50px;
  color: white;
}

.SongDiv{
  width: 850px;
  height: 30px;
}

.SongAlbumImage{
  position: absolute;
  margin-top: 10px;
  left: 10px;
    height: 40px;
  width: 40px;
}

.SongName{
  color: white;
  position: absolute;
  left: 60px;
  margin-top: 10px;


}

.SongDivWrapper{
  width: 850px;
  height: 60px;

}

.SongDivWrapper:hover {
  color: white;
  background-color: #2b2424;
}

.SongArtist{
  font-size: 12px;
  position: absolute;
  margin-left: 60px;
  margin-top: 30px;

}



.Row {
  display: table;
  width: 100%; 
  table-layout: fixed; 
  border-spacing: 10px; 
  display: flex;
  align-items: center
}
.Column {
  display: table-cell;
  background-color: red; 
  width: 210px;
  padding: 0 5px 0 5px;
}

.ArtistImage{
  position: relative;
  top: 20px;
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.AlbumImage{
  position: relative;
  top: 20px;
  height: 175px;
  width: 175px;
  border-radius: 5px;

}

.ArtistName{
  position: absolute;
  top: 220px;
  color: white;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  left: 10px;
  font-family: 'RubikRegular';


}

.Inner{
  border-radius: 15px;
  position: absolute;
  top: 10px;
  height: 280px;
  width: 200px;
  background-color: rgb(27, 24, 24); 
}

.ArtistTag{
  position: absolute;
  top: 240px;
  left: 20px;
  color: rgb(99, 83, 83);
  font-size: 14px;
}
.SeeMore{
  font-family: "RubikRegular";
  position: absolute;
  left: 800px;
  margin-top: 50px;
  font-size: 12px;
  text-decoration: none;
  color:rgb(102, 101, 101)
}

.SeeMoreArtistsAlbums{
  font-family: "RubikRegular";
  position: absolute;
  left: 1250px;
  margin-top: 50px;
  font-size: 12px;
  text-decoration: none;
  color:rgb(102, 101, 101)
}

.SearchBar{
  height: 30px;
  width: 250px;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 2px 2px 2px 30px;
    top: 10;
    position: absolute;
    left: 400px;
}


.btn-outline-info {
  color: #93c;
  border-color: #93c;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #93c;
  border-color: #93c;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 51, 204, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #93c;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #93c;
  border-color: #93c;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 51, 204, 0.5);
}

.btn {
  font-family: "RubikRegular";

  margin-left: auto;
  margin-right: auto;
      display: inline-block;
  font-weight: 400;
  color: #adafae;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(5, 5, 5);
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn2 {
  font-family: "RubikRegular";
  position: absolute;
  left: 650px;

      display: inline-block;
  font-weight: 400;
  color: #adafae;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color:transparent;
  width: 30px;
  height: 30px;
  top: 27px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 20px;
  height: 50px;
  width: 97%;
  background-color: #222121;
}
