@font-face {
  font-family: 'RubikLight';
  src: url('/Users/hopegipson/Flatiron/code/PROJECTS/Music_Player_Application/frontend/src/assets/fonts/Rubik-Light.ttf');
  
  }

  @font-face {
    font-family: 'RubikRegular';
    src: url('/Users/hopegipson/Flatiron/code/PROJECTS/Music_Player_Application/frontend/src/assets/fonts/Rubik-Regular.ttf');
    }


body {
  margin: 0;
  font-family: 'RubikLight';
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adafae;
  text-align: left;
  background-color: #121212;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  width: 200px;
  position: fixed;
  height: 100vh;
  color: #adafae;
  background-color: #000000;
  
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 50px;
  padding: 20px;
}

.sideBarIcon{
  height: 30px;
  width: 30px;
  padding: 20px;
}

.sidebarOption {
  font-family: "RubikRegular";
  text-decoration: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;

  height: 40px;
  color: grey;
  transition: 200ms color ease-in;

}

.sidebarOption:hover {
  color: white;
  background-color: #2b2424;
}

.NavLink:active {
  background-color: #552727;

}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.TopResult {
  position: absolute;
  top: 100px; 
  left: 300px;
  width: 400px;
  height: 300px;
  background-color: #8b2828;
}

.InsideTopResult{
  position: absolute;
  background-color: #0c0606;
  width: 350px;
  height: 200px;
  top: 75px; 
  left: 25px;

}

.TitleSection{
  font-family: 'RubikRegular';
  position: absolute;
  margin-left: 20px;
}

.TopArtistImage{
  border-radius: 50%;
}

